#buttonSignout {
    background-color: rgb(247, 247, 247);
    border: 10;
    border-radius: 5px;
    color: #0400ff;
    border: 1px solid #051cf3;
}

.container {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
  }
  
  .heading {
    text-align: center;
  }
  
  .formInput {
    width: 100%;
  }
  
  .formInput_label {
    width: 100%;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .formInput_input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 32px;
    line-height: 32px;;
  }
  
  .formInput_input input {
    border: 0;
    outline: 0;
    padding: 0 8px;
    width: 98%;
  }

  .formSelect {
    width: 100%;
  }

  .formSelect_label {
    width: 100%;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .formSelect select {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 32px;
    line-height: 32px;;
  }
  
  .button_container {
    margin-top: 10px;
    text-align: right;
  }
  
  .button {
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }

  #buttonAdd {
    background-color: blue;
  } 
  
  .filter{
    width: 100%;
  }

  .filter_label {
    width: 100%;
    margin-bottom: 5px;
    display: inline;
  }

  .filterButton {
    display: inline-block;
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }

  #buttonAll {
    background-color: rgb(0, 21, 255);
  }

  #buttonOpen {
    background-color: green;
  }

  #buttonClose {
    background-color: rgb(42, 197, 224);
  }

  .orderSelect {
    width: auto;
    display: inline;
  }

  .orderSelect_label {
    margin-bottom: 5px;
    display: inline;
  }

  .orderSelect select{
    width: 30%;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 32px;
    line-height: 32px;
  }

  .searchInput {
    width: 100%;
  }

  .searchInput_label {
    width: auto;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline;
  }

  .searchInput_input {
    float: right;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 32px;
    line-height: 32px;
  }

  .searchInput_input input {
    border: 0;
    outline: 0;
    padding: 0 8px;
    width: 98%;
  }

  .card {
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .card_header {
    background-color: #ccc;
    padding: 10px;
    border-radius: 8px 8px 0 0;
  }
  
  .card_content {
    padding: 10px;
  }
  
  .card_severity {
    background-color: rgb(112, 49, 230);
    display: inline-block;
    color: #fff;
    padding: 2px;
    font-size: 14px;
    border-radius: 3px;
  }
  
  .card_button {
    text-align: right;
  }
  
  .button-close{
    background-color: blue;
  }

  .button-delete {
    background-color: red;
  }

  #error {
    text-align: center;
    background-color: #ffffff;
    color: #ff5c5c;
    margin-top: 1.5em;
    padding: 1em 0;
    border-radius:  0.8em;
    display: none;
}